body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header-app{
  width: 100%;
  padding: 10px;
  background-color: darkgrey;
}

.nav-link{
  text-decoration-line: none;
  margin-left: 20px;
  color: black;
}

.btn-logout{
  border-radius: 10px;
  border:none; 
  margin-left: 20px;
  cursor: pointer
  /* float: right; */
}

.nav-link-active{
  color: brown;
}

.center{
  text-align: center
}